@font-face {
  font-family: "Raleway";
  src: url("../../Includes/Font/Raleway/static/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Carmen sans";
  src: url("../../Includes/Fonts/CarmenSans-Regular.ttf") format("truetype"),
    url("../../Includes/Fonts/Carmen-Sans-Regular.otf") format("otf");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Futura";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 35.81px;
}
