.Header_container {
  width: 100%;
  height: 46px;
  display: flex;
}

.Header_rightContainer {
  width: 65%;
  background: #d4a62a;
}

.Header_leftContainer {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.nav-link {
  padding: 1.5rem 1rem;
}

.ul-group {
  align-items: center;
  margin: 0;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

.Header_box {
  width: 100%;
}

.ul-img {
  padding-right: 15px;
}
.ul-img1 {
  padding-left: 10px;
}

.li-button {
  background-color: #d4a62a;
  border-color: #d4a62a;
  color: black;
  border-radius: 1px;
  width: 100%;
  height: 35px;
}

.li-button:hover {
  color: #fff !important;
  background-color: black !important;
  border-color: white !important;
}
